<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
{{template "header"}}
<body>
    {{template "nav"}}

    <form id="form1" runat="server">
        <div>
            <!-- Page Content -->
            <div class="container">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">About
                            <small>Kona The Labradoodle</small>
                        </h1>
                    </div>
                </div>
                <!-- /.row -->

                <!-- Image Header -->
                <div class="row">
                    <div class="col-lg-12">
                        <img class="img-responsive" src="img/AboutKona_1200x300.jpg" alt="Kona Floating"/>
                    </div>
                </div>
                <!-- /.row -->

                <!-- Category Panels -->
                <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="page-header">Dog Categories</h2>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="panel panel-default text-center">
                            <div class="panel-heading">
                                <span class="fa-stack fa-5x">
                                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                    <i class="fa fa-tree fa-stack-1x fa-inverse"></i>
                                </span>
                            </div>
                            <div class="panel-body">
                                <h4>Grooming</h4>
                                <p>Products used and how to accomplish a fashionable cut.</p>
                                <a href="#" class="btn btn-primary">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="panel panel-default text-center">
                            <div class="panel-heading">
                                <span class="fa-stack fa-5x">
                                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                    <i class="fa fa-car fa-stack-1x fa-inverse"></i>
                                </span>
                            </div>
                            <div class="panel-body">
                                <h4>Exercise</h4>
                                <p>What is required to wear this puppy out!</p>
                                <a href="#" class="btn btn-primary">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="panel panel-default text-center">
                            <div class="panel-heading">
                                <span class="fa-stack fa-5x">
                                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                    <i class="fa fa-support fa-stack-1x fa-inverse"></i>
                                </span>
                            </div>
                            <div class="panel-body">
                                <h4>Adventure</h4>
                                <p>Neat places traveled with our four legged friend.</p>
                                <a href="#" class="btn btn-primary">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="panel panel-default text-center">
                            <div class="panel-heading">
                                <span class="fa-stack fa-5x">
                                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                    <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                                </span>
                            </div>
                            <div class="panel-body">
                                <h4>Socialize</h4>
                                <p>Tactics used to accomplish a well-balanced puppy.</p>
                                <a href="#" class="btn btn-primary">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            
                <!-- Growing Up Row -->
                <div class="row text-center">
                    <div class="col-lg-12">
                        <h2 class="page-header text-left">Growing Up</h2>
                    </div>
                    <div class="col-lg-4 col-sm-6 text-center">
                        <img class="img-circle img-responsive img-center" src="img/Month_3_200x200.jpg" alt="Month 3" />
                        <h3>New Arrival
                            <small>11 Weeks</small>
                        </h3>
                        <p>Kona flew from Ohio to Missouri and lots of tail wags occured when meeting her new pack on 2/14/2014.</p>
                    </div>
                    <div class="col-lg-4 col-sm-6 text-center">
                        <img class="img-circle img-responsive img-center" src="img/FirstBath_200x200.jpg" alt="" />
                        <h3>First Bath
                            <small>3 Months</small>
                        </h3>
                        <p>Our cute 11 lbs puppy looks a lot smaller when wet!</p>
                    </div>
                    <div class="col-lg-4 col-sm-6 text-center">
                        <img class="img-circle img-responsive img-center" src="img/Month_4_200x200.jpg" alt="" />
                        <h3>Good Girl!
                            <small>4 Months</small>
                        </h3>
                        <p>Hanging out in human momma's office while she works is fun!</p>
                    </div>
                    <div class="col-lg-4 col-sm-6 text-center">
                        <img class="img-circle img-responsive img-center" src="img/Month_5_200x200.jpg" alt="" />
                        <h3>Growing Quick
                            <small>5 Months</small>
                        </h3>
                        <p>Look how pretty she is after her first hair cut!</p>
                    </div>
                    <div class="col-lg-4 col-sm-6 text-center">
                        <img class="img-circle img-responsive img-center" src="img/Month_6_200x200.jpg" alt="" />
                        <h3>First Canoe Trip
                            <small>6 Months</small>
                        </h3>
                        <p>Kona joined hubby and I floating to celibrate our 5 year anniversary. :)</p>
                    </div>
                    <div class="col-lg-4 col-sm-6 text-center">
                        <img class="img-circle img-responsive img-center" src="img/Month_7_200x200.jpg" alt="" />
                        <h3>Wakeboat Chillin'
                            <small>7 Months</small>
                        </h3>
                        <p>When not barking at wake surfers behind the boat, Kona enjoys relaxing with her buddies.</p>
                    </div>
                </div>

            </div>

        {{template "bodyscripts"}}
        </div>

        {{template "footer"}}
    </form>
</body>
</html>