{{define "bodyscripts"}}
            <!-- jQuery Version 1.11.0 -->
            <script src="scripts/jquery-2.1.1.js"></script>
            <!-- Bootstrap Core JavaScript -->
            <script src="scripts/bootstrap.min.js"></script>
{{end}}