<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
{{template "header"}}
<body>
    {{template "nav"}}

    <form id="form1" runat="server">
        <div>
            <h1>Welcome!</h1>

            {{template "bodyscripts"}}
        </div>

        {{template "footer"}}
    </form>
</body>
</html>